{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>PAPER PRESENTATION SHIFT-I</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style type="text/css">
    .bs-example{
        margin: 20px;
    }
    body{
        padding-top: 70px;
    }
</style>
</head>
<body>
<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary
                fixed-top">
        <div class="container">
            <a href="/cover/" class="navbar-brand mr-3"><b>TECH'X'TRA</b></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/contstant/" class="nav-item nav-link">PARTICIPITENT'S</a>
                <a href="/organisars/" class="nav-item nav-link">ORGANISAR'S</a>
                <a href="/staff/" class="nav-item nav-link">STAFF</a>
                <a href="/progress/" class="nav-item nav-link">PROGRESS</a>
                <a href="/marks/" class="nav-item nav-link">MARKS</a>
                <a href="/ranks/" class="nav-item nav-link">RANKS</a>


            </div>
            <div class="navbar-nav ml-auto">
                <a href="#" class="nav-item nav-link"><b>(SHIFT-II)</b></a>
            </div>
        </div>
    </nav>

    <!-- Demo Content -->
    <div class="container">
            <!--<div class="jumbotron">-->
                <!--<h1>Fixed Top Navbar</h1>-->
                <!--<p class="lead">The fixed-top navbar bar is fixed at the top of the viewport and does not scroll with the rest of the page.</p>-->
            <!--</div>-->
        {% block content %}
        {% include 'cover.html' %}
        {% include 'contstant.html' %}
        {% include 'leader1.html' %}
        {% include 'staff.html' %}
        {% include 'timer.html' %}
        {% include 'marks.html' %}
        {% include 'ranks.html' %}
        {% endblock %}
        {% block js %}
        {% endblock js %}


    </div>
</div>
</body>
</html>                            