.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section h1 {
  text-align: center;
  font-size: 6rem;
  /*font-color: white;*/
  font-family: "Cookie";
  padding: 20px;
  margin: 15px;
  z-index: 1;
  opacity: 1;
}

.video-container {
  position: fixed;
  top: 0;
  left: 90;
  width:  95%;
}

.color-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color:lightblue;
  width: 100%;
  height: 100vh;
  opacity: 0.4;
}
